
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading {
    background: #0454f4;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.title-heading {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

